.git
.env
.env.*
*.env
database.ukk.env
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
docker-compose/nginx/certs
